/*-----------------
      general
------------------*/
html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.extra-padding {
  padding-left: 10rem ;
  padding-right: 10rem ;
}
/*-----------------
      navbar
------------------*/
.nav-custom {
  background: #00335e;
  color: #abcae9;
}

.nav-custom a {
  color: #abcae9;
}

.nav-custom input {
  border-radius: 5rem;
  height: 1.5rem;
  border: none;
  margin-left: 0.5rem;
}
/*-----------------
      navegacion
------------------*/
.navegacion {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.navegacion a {
  color: #00335e;
}
/*-----------------
carousel del index
------------------*/
.carousel img {
  width: auto;
  height: 35rem;
  max-height: 35rem;
  object-fit: contain;
}
.carousel-indicators {
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 5%;
}

.carousel-indicators li {
  width: 1rem;
  height: 1rem;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  border-radius: 50%;
  border: solid #fff 0.13rem !important;
  background-color: #00335e;
}

.carousel-indicators .active {
  background-color: #fd120f;
}

.carousel-caption {
  bottom: 20%;
  left: 64%;
  width: 20rem;
  height: 20rem;
  padding: 1rem;
  color: #fff;
  background: #00335e;
}

/* media queries */
@media (max-width: 977px) {
  .carousel-caption {
    left: 60%;
  }
}

@media (max-width: 858px) {
  .carousel-caption {
    left: 40%;
  }
}

@media (max-width: 570px) {
  .extra-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .carousel-caption {
    left: 20%;
  }
}